* {
	box-sizing: border-box;
	font-family: Arial, monospace, "Comic Sans MS";
	font-weight: bold;
	font-size: 23px;
	letter-spacing: 3px;
	color: white;

	transition: all 0.4s;
}

a {
	text-decoration: none;
}

body {
	background-color: black;
	width: 100%;
	/*min-width: 400px;*/
	min-height: 700px;
	min-height: 100vh;
	position: relative;	

	display: flex;
	flex-flow: column wrap;
}

body > header {
	/*background: black;*/
	flex: 1;
}

main {
	position: relative;
	width: 100%;
	height: auto;
	/*min-height: 90%;*/
	flex: 3;

	color: white;

	display: flex;
	flex-direction: column;
	justify-content: center;

	align-items: center;
	align-content: space-around;
}

#page-foot {
	color: white;

	flex: 1;
}

/*#quiz {
	width: 90%;
	max-width: 1280px;
	padding: 20px;
	border: 3px solid white;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: center;

	margin: 50px;
}
#question {
	font-size: xx-large;	
}
#answer {
	border: 5px solid black;
	border-radius: 2px;
	margin-bottom: 10px;
}
#answer:focus {
	border: 5px solid yellowgreen;
	border-radius: 0;
}
*/
.flex-container {
	display: flex;
	flex-flow: row wrap;
	/*justify-content: space-around;*/
	justify-content: center;
	align-items: center;
	/*align-content: space-between;*/
}

.main-container {
	width: 90%;

	padding: 20px;
	margin: auto;

	/*border-radius: 10px;*/
	/*border: 3px solid hsl(120, 100%, 70%);*/

	position: relative;
}

.item {
	font-size: 50px;
	border: 3px solid yellowgreen;
	border: 3px solid hsl(120, 100%, 70%);

	border-radius: 20px;
	width: 320px;
	height: 240px;
	overflow: hidden;
	margin: 20px;	
}

.item:hover {
	cursor: pointer;
	text-shadow: 2px 2px 10px gray;
	font-size: 60px;
	border-color: hsl(0, 100%, 20%);	
	border-width: 10px;
}
.item:hover h2 {
	color: hsl(120, 100%, 70%);
}

.item h2 {
	font-size: inherit;	
}

.bg {
	background: linear-gradient(171deg, hsla(0, 0%, 0%, 0.4) 20%, yellowgreen 100%);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
	overflow: hidden;
}

